@font-face { font-family: D-DIN; src: url('D-DIN.otf'); } 
@font-face { font-family: D-DIN; font-weight: bold; src: url('D-DIN-Bold.otf');}
@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/font/VCROSDMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{

}

#presentacion{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#myVideo {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100vw;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;  
}

html{
    background-color: #0e0e0e;
    font-family: VCR OSD Mono;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.foto img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 4%;
}

.descripcion{
    font-size: 3vw;
    height: 100vh;
}

.enlace{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 8%;
}

.background{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.699);
    width:25vw;
    height:10vw;
    padding-top: 2%;
    padding-left: 2%;
    margin-top: 45vh;
}

.foto{

}