@font-face { font-family: D-DIN; src: url('D-DIN.otf'); } 
@font-face { font-family: D-DIN; font-weight: bold; src: url('D-DIN-Bold.otf');}
@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/font/VCROSDMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header{

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

html{
    background-color: #25272b;
    font-family: VCR OSD Mono;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.foto img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 12%;
}

.descripcion{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 45vw;
    margin-bottom: 50vw;
    font-size: 3vw;

.foto{

}